@if (User.Identity.IsAuthenticated)
{
    var name = String.Empty;
    //var firstNameClaim = User.FindFirst(System.Security.Claims.ClaimTypes.GivenName);
    //var lastNameClaim = User.FindFirst(System.Security.Claims.ClaimTypes.Surname);
    name = User.Identity.Name;

    //if (firstNameClaim != null)
    //{
    //    name += firstNameClaim.Value;
    //}

    //if (lastNameClaim != null)
    //{
    //    name += String.IsNullOrEmpty(name) ? lastNameClaim.Value : " " + lastNameClaim.Value;
    //}

<span class="ml-md-auto">
    <span class="current-user-name">
        Hi, @name
    </span>
    <a asp-area="" asp-controller="Account" asp-action="SignOut">Ausloggen</a>
</span>
}